<div class="container my-4">
    <div class="row">
        @foreach (var mesa in ListMesasExamenes)
        {
            <div class="col-12 mb-4">
                <div class="card text-center">
                    <div class="card-header">
                        <strong>@mesa.Materia.Nombre - @mesa.Materia.AnioCarrera.Carrera.Sigla</strong>
                    </div>
                    <div class="card-body text-start">
                        @{
                            var nombresDocentes = string.Join(" | ", mesa.DetallesMesaExamen
                            .Where(d => d.TipoIntegrante != TipoIntegranteEnum.Suplente)
                            .Select(d => d.Docente.Nombre));
                        }
                        <p class="card-text">Docentes:<strong> @nombresDocentes</strong></p>
                        @if (mesa.TurnoExamen.TieneLLamado2)
                        {
                            if(mesa.Llamado1.Date==DateTime.Today)
                            {
                                <p class="card-text"><strong>1º Llamado: @mesa.Llamado1.Date.ToString("dd/MM/yyyy")</strong></p>
                            }else
                            {
                                <p class="card-text">1º Llamado: @mesa.Llamado1.Date.ToString("dd/MM/yyyy")</p>
                            }
                            if(mesa.Llamado2.Date==DateTime.Today)
                            {
                                <p class="card-text"><strong>2º Llamado: @mesa.Llamado2.Date.ToString("dd/MM/yyyy")</strong></p>
                            }
                            else
                            {
                                <p class="card-text">2º Llamado: @mesa.Llamado2.Date.ToString("dd/MM/yyyy")</p>
                            }
                        }
                        else
                        {
                            <p class="card-text">Fecha:<strong> @mesa.Llamado1.Date.ToString("dd/MM/yyyy")</strong></p>
                        }
                        <p class="card-text"><strong>Hora: @mesa.Horario</strong></p>
                        @{
                            var nombresSuplentes = string.Join(" | ", mesa.DetallesMesaExamen
                            .Where(d => d.TipoIntegrante == TipoIntegranteEnum.Suplente)
                            .Select(d => d.Docente.Nombre));
                        }
                    </div>
                    <div class="card-footer text-body-secondary">
                        Suplente/s: @nombresSuplentes
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<MesaExamen> ListMesasExamenes { get; set; }
}
