@inject IUsuarioStateService usuarioStateService
@if(MesasExamenes==null)
{
    <h5>cargando...</h5>
}
else
{
    var primerMesa= MesasExamenes.OrderBy(m=>m.Llamado1).FirstOrDefault();
    <br />
    <p> Docente:<strong> @usuarioStateService.Usuario.Nombre </strong></p>
    <p> Turno de examen: <strong>@primerMesa.TurnoExamen.Nombre</strong></p>
    @if (primerMesa.TurnoExamen.TieneLLamado2)
    {
        <h3>Primer llamado</h3>
    }
    <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Espacio Curricular</th>
                    <th>Hora</th>
                    <th>Docentes</th>
                    <th>Suplentes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mesaExamen in MesasExamenes)
                {
                    <tr>
                    <td>
                        <span style="font-size: 75%;">
                            @mesaExamen.Llamado1.Date.ToString("dd/MM/yyyy")
                        </span>
                    </td>
                    <td><strong>@mesaExamen.Materia.Nombre</strong></td>
                        <td>
                            <span style="font-size: 75%;">
                                @mesaExamen.Horario
                            </span>
                        </td>
                        <td>
                            @{
                                var nombresDocentes = string.Join(" | ", mesaExamen.DetallesMesaExamen
                                .Where(d => d.TipoIntegrante != TipoIntegranteEnum.Suplente)
                                .Select(d => d.Docente.Nombre));
                            }
                            <span style="font-size: 75%;">
                                @nombresDocentes
                            </span>
                        </td>
                        <td>
                            @{
                                var suplentes = string.Join(" | ", mesaExamen.DetallesMesaExamen
                                .Where(d => d.TipoIntegrante == TipoIntegranteEnum.Suplente)
                                .Select(d => d.Docente.Nombre));
                            }
                            <span style="font-size: 75%;">
                                @suplentes
                            </span>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    @if(primerMesa.TurnoExamen.TieneLLamado2)
    {
    <h3>Segundo llamado</h3>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Espacio Curricular</th>
                <th>Hora</th>
                <th>Docentes</th>
                <th>Suplentes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mesaExamen in MesasExamenes)
            {
                <tr>
                    <td>
                        <span style="font-size: 75%;">
                            @mesaExamen.Llamado2.Date.ToString("dd/MM/yyyy")
                        </span>
                    </td>
                        <td><strong>@mesaExamen.Materia.Nombre</strong></td>
                    <td>
                        <span style="font-size: 75%;">
                            @mesaExamen.Horario
                        </span>
                    </td>
                    <td>
                        @{
                            var nombresDocentes = string.Join(" | ", mesaExamen.DetallesMesaExamen
                            .Where(d => d.TipoIntegrante != TipoIntegranteEnum.Suplente)
                            .Select(d => d.Docente.Nombre));
                        }
                        <span style="font-size: 75%;">
                            @nombresDocentes
                        </span>
                    </td>
                    <td>
                        @{
                            var suplentes = string.Join(" | ", mesaExamen.DetallesMesaExamen
                            .Where(d => d.TipoIntegrante == TipoIntegranteEnum.Suplente)
                            .Select(d => d.Docente.Nombre));
                        }
                        <span style="font-size: 75%;">
                            @suplentes
                        </span>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    }
}
@code {
    [Parameter]
    public List<MesaExamen> MesasExamenes { get; set; }

 
    protected override void OnParametersSet()
    {
        MesasExamenes = MesasExamenes?.OrderBy(m=>m.Llamado1).ToList();
    }

}
